@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* NOTES
padding-top.
padding-right.
padding-bottom.
padding-left.
*/

/*<!-----------------------HEADER------------------------------------>*/





.row-header-left
{
  text-align:top;
  
  background-color: #B12E2B;
  padding-bottom: 20px;
  border-radius: 0% 0% 70% 00%;
 
}


.col-header-background-left
{
  text-align:top;
  background-image: url("/assets/images/heart-helpers-new-header-background-dark-heart-resize.png");
  background-repeat: no-repeat;
  border-radius: 0% 0% 80% 00%;
  height: 300px;
  width: 650px;
 
}

.col-header-logo-left
{
  text-align:top;
  padding: 0px 0px 0px 0px;
 
  /*background-image: url(/assets/images/);*/
 
}

/*.row-header-right
{
  text-align:top;
  width: 100%;
  background-color: #B12E2B;
  padding-top: 20px;
 
}


.col-header-background-right
{
  text-align:top;
  
  border-radius: 90% 0% 0% 00%;
 }

.col-header-logo-right
{
  text-align:top;
  padding: 0px 0px 0px 0px;
 
}

*/


.header-colour
{
  background-color: #F5EBE6;
}



.header-links{
  text-align: center;

}

.header-links li{
  display: inline;
  border:solid black;
  letter-spacing: 2px;
}

#logo 
{   
  border-color: black; 
  border:solid; 
  size: 10w; 
}

.logo 
{ 
   
  position: relative; 
  top:40px; 
  right: 0; 
  bottom: 0px; 
  left: 20px; 
}

#menu a:hover
{
  border-bottom: 1px solid #777777;
}

.this-page
{
  border-bottom: 1px solid #777777;
}

.rounded-circle-index
{
  height: 200px;
  width: 200px;
}


/*<!----------------------------------------------------------------->*/

.content
{ 
  
  background-color: #F5EBE6;
  
}





























body
{ 
  font-family: 'Poppins', sans-serif; 
  font-size:16px; 
  
}

h1
{
  font-size: 160%;
}

h3
{
  font-size: 100%;
}

.test 
{ 
  background-color: black; 
}


max-width-container
{
  max-width: 1VW;
  
}




.align-center
{
   
  text-align: center;
  padding: 0;
  border: 2px black solid;
  width: 100%;
  margin: auto;

}

.responsive-background-image
{
  background-image: url("/assets/images/responsive-original-test-pixels.png");
  
 
}












div 
{  
  border:solid; 
  padding: 10px;
 
}

div.testimonies 
{  
  border:solid;
  background-color: #D0A78D;
 
}






/*<!-----------------------FOOTER------------------------------------>*/
footer{
  height: 150px;
  background-color: #C57965;
}

.footer-links{
  text-align: center;

}

.footer-links li{
  display: inline;
}

.footer-links i{
  font-size: 160%;
  margin: auto;
  padding: 10px 10px 10px 10px;
  color: #B12E2B;
}
/*<!------------------------------- ---------------------------------->*/















@media screen and (min-width: 576px) 
 { 
    div.responsive-text
      { 
/*<!-----------------------THIS SECTION OF CODE WAS BASED ON CODE SNIPPET FROM https://stackoverflow.com/questions/40528290/how-to-implement-max-font-size----------------------->*/       
        font-size: calc(16px + 16 * ((100vw - 600px) / 600)); 
/*<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------->*/
      } 
  }


 @media screen and (min-width: 1200px) 
  { 
    div.responsive-text
        { 
          font-size: 20px; 
        } 
    }















    .title {
      font-size: 10vw;
      padding-top: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      padding-left: 80px;
    }
    
    /*
    @media screen and (min-width: 600px) {
      .title {
        font-size: calc(16px + 16 * ((100vw - 600px) / 600));
      }
    }
    @media screen and (min-width: 1200px) {
      .title {
        font-size: 32px;
      }
    }*/

