


/* Color palette taken from She Codes. See Credits for link*/
.first-color { 
	background: #faf6e9; 
}
	
.second-color { 
	background: #ece8d9; 
}

.third-color { 
	background: #fffdf6; 
}

.fourth-color { 
	background: #494949; 
}